# Ebay Car Sales Data Analysis
## Dataquest Project 3
---
The aim of this project is to investigate a dataset of used car listings from eBay Kleinanzeigen; a classifieds section of the German eBay website. The dataset was originally scraped and uploaded to Kaggle

The following code allowed me to practice my skills in using Pandas and NumPy libraries.

### First import the required libraries and read the .csv

In [1]:
# Import pandas and NumPy libraries

import pandas as pd
import numpy as np

In [2]:
# Read autos.csv file into pandas

autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

### Print information relating to the entire dataset and the first few rows

In [3]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

* There are 50,000 entries to this data set, which includes column headers and indexing numbers also.
* The dataset contains 20 columns, most of which are strings.
* Some columns have null values, but none have more than ~20% null values.
* The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

### Convert all column headers from camelcase to snakecase for ease of use.

In [4]:
columns = autos.columns

autos.rename(columns={'yearOfRegistration':'registration_year'}, inplace=True)
autos.rename(columns={'monthOfRegistration':'registration_month'}, inplace=True)
autos.rename(columns={'notRepairedDamage':'unrepaired_damage'}, inplace=True)
autos.rename(columns={'dateCreated':'ad_created'}, inplace=True)
autos.rename(columns={'dateCrawled':'ad_crawled'}, inplace=True)
autos.rename(columns={'offerType':'type_offer'}, inplace=True)
autos.rename(columns={'vehicleType':'type_vehicle'}, inplace=True)
autos.rename(columns={'fuelType':'type_fuel'}, inplace=True)
autos.rename(columns={'nrOfPictures':'n_pics'}, inplace=True)
autos.rename(columns={'postalCode':'post_code'}, inplace=True)
autos.rename(columns={'lastSeen':'last_seen'}, inplace=True)

autos.head(0)

Empty DataFrame
Columns: [ad_crawled, name, seller, type_offer, price, abtest, type_vehicle, registration_year, gearbox, powerPS, model, odometer, registration_month, type_fuel, brand, unrepaired_damage, ad_created, n_pics, post_code, last_seen]
Index: []

### Describe the data to investigate descriptive statistics for the columns

In [5]:
autos.describe(include='all')

,ad_crawled,name,seller,type_offer,price,abtest,type_vehicle,registration_year,gearbox,powerPS,model,odometer,registration_month,type_fuel,brand,unrepaired_damage,ad_created,n_pics,post_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 15:49:30,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

* seller, type_offer, abtest, type_vehicle, gearbox, unrepaired_damage only have a couple of unique values
* n_pics can be dropped as they are all 0
* registration_year and post_code will need further investigation
* Numeric values stored as text: price and odemeter columns

In [6]:
autos['price'].head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

In [7]:
autos['odometer'].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

### Clean price and odometer data by removing non-numeric characters and convert the columns to a numeric dtype

In [8]:
autos['price']=autos['price'].str.replace('$','')
autos['price']=autos['price'].str.replace(',','')
autos['price']=autos['price'].astype(float)

autos['odometer']=autos['odometer'].str.replace('km','')
autos['odometer']=autos['odometer'].str.replace(',','')
autos['odometer']=autos['odometer'].astype(float)
autos.rename(columns={'odometer':'odometer_km'}, inplace=True)

autos['price'].head()
autos['odometer_km'].head()

0    150000.0
1    150000.0
2     70000.0
3     70000.0
4    150000.0
Name: odometer_km, dtype: float64

## Filtering to remove outliers and significantly offset data points

### First: PRICING

In [9]:
price = autos['price']
price.describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [10]:
price.value_counts().sort_index()

0.0           1421
1.0            156
2.0              3
3.0              1
5.0              2
8.0              1
9.0              1
10.0             7
11.0             2
12.0             3
13.0             2
14.0             1
15.0             2
17.0             3
18.0             1
20.0             4
25.0             5
29.0             1
30.0             7
35.0             1
40.0             6
45.0             4
47.0             1
49.0             4
50.0            49
55.0             2
59.0             1
60.0             9
65.0             5
66.0             1
              ...
151990.0         1
155000.0         1
163500.0         1
163991.0         1
169000.0         1
169999.0         1
175000.0         1
180000.0         1
190000.0         1
194000.0         1
197000.0         1
198000.0         1
220000.0         1
250000.0         1
259000.0         1
265000.0         1
295000.0         1
299000.0         1
345000.0         1
350000.0         1
999990.0         1
999999.0         2
1234566.0        1
1300000.0        1
3890000.0        1
10000000.0       1
11111111.0       2
12345678.0       3
27322222.0       1
99999999.0       1
Name: price, Length: 2357, dtype: int64

### Remove values over 20,000 and less than 1

In [11]:
autos = autos[autos['price'].between(1,20000)]

In [12]:
price = autos['price']
price.describe()

count    46232.000000
mean      4524.710287
std       4499.447671
min          1.000000
25%       1199.000000
50%       2850.000000
75%       6500.000000
max      20000.000000
Name: price, dtype: float64

### Second: Odometer (Remove values over 150,000)

In [13]:
odometer = autos['odometer_km']
odometer.describe()

count     46232.000000
mean     128561.061602
std       37359.775718
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [14]:
odometer.value_counts().sort_index()

5000.0        755
10000.0       155
20000.0       510
30000.0       562
40000.0       617
50000.0       805
60000.0       968
70000.0      1060
80000.0      1284
90000.0      1603
100000.0     1962
125000.0     4872
150000.0    31079
Name: odometer_km, dtype: int64

In [15]:
autos = autos[autos['odometer_km']<150000.0]

In [16]:
odometer = autos['odometer_km']
odometer.describe()

count     15153.000000
mean      84589.520227
std       37178.751425
min        5000.000000
25%       60000.000000
50%       90000.000000
75%      125000.000000
max      125000.000000
Name: odometer_km, dtype: float64

## Date data

In [17]:
autos['ad_crawled'].value_counts().sort_index().head()

2016-03-05 14:07:04    1
2016-03-05 14:07:21    1
2016-03-05 14:07:45    1
2016-03-05 14:08:27    1
2016-03-05 14:08:42    1
Name: ad_crawled, dtype: int64

### Parse to isolate year from date data

In [18]:
year_crawled = autos['ad_crawled'].str[:4].value_counts().sort_index()

In [19]:
year_created = autos['ad_created'].str[:4].value_counts().sort_index()

In [20]:
year_last_seen = autos['last_seen'].str[:4].value_counts().sort_index()

In [21]:
print(year_crawled)
print(year_created)
print(year_last_seen)

2016    15153
Name: ad_crawled, dtype: int64
2015        4
2016    15149
Name: ad_created, dtype: int64
2016    15153
Name: last_seen, dtype: int64

### Describe the distribution of the registration year

In [22]:
autos['registration_year'].describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9])

count    15153.000000
mean      2008.653996
std        143.741304
min       1000.000000
10%       1997.000000
20%       2000.000000
30%       2003.000000
40%       2005.000000
50%       2007.000000
60%       2008.000000
70%       2010.000000
80%       2011.000000
90%       2013.000000
max       9999.000000
Name: registration_year, dtype: float64

### Only keep values between 1997 and 2014

In [23]:
year_filter = autos['registration_year'].between(1997,2014)
autos = autos[year_filter]

In [24]:
autos['registration_year'].describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9])

count    12713.000000
mean      2006.553056
std          4.449214
min       1997.000000
10%       2000.000000
20%       2002.000000
30%       2004.000000
40%       2006.000000
50%       2007.000000
60%       2008.000000
70%       2009.000000
80%       2011.000000
90%       2012.000000
max       2014.000000
Name: registration_year, dtype: float64

## Use aggregation to analyse the brand column

In [25]:
autos["brand"].unique()

array(['volkswagen', 'smart', 'seat', 'audi', 'peugeot', 'dacia', 'ford',
       'renault', 'mini', 'toyota', 'bmw', 'mazda', 'nissan', 'opel',
       'skoda', 'mercedes_benz', 'sonstige_autos', 'kia', 'fiat', 'volvo',
       'hyundai', 'chrysler', 'honda', 'citroen', 'mitsubishi',
       'chevrolet', 'subaru', 'rover', 'daihatsu', 'daewoo', 'suzuki',
       'jeep', 'porsche', 'alfa_romeo', 'lancia', 'jaguar', 'land_rover',
       'lada', 'saab'], dtype=object)

In [26]:
top_brands = autos["brand"].value_counts().head(8).index

print(top_brands)

Index(['volkswagen', 'opel', 'ford', 'bmw', 'mercedes_benz', 'renault', 'audi',
       'fiat'],
      dtype='object')

### Find the average price of the top 8 brands

In [27]:
brand_price_agg = {}

for x in top_brands:
    selected_rows = autos[autos["brand"] == x]
    x_mean = selected_rows["price"].mean()
    brand_price_agg[x] = x_mean

In [28]:
brand_price_agg

{'audi': 11917.337192474675,
 'bmw': 10912.826229508197,
 'fiat': 4045.2783300198807,
 'ford': 5095.719882468168,
 'mercedes_benz': 10034.054846938776,
 'opel': 5301.274774774774,
 'renault': 4062.1626248216835,
 'volkswagen': 8385.698384201078}